@use'../base/variables' as v;
@use'../base/mixins' as m;



.destinos{
   
   

    .travel-card{

        width: 25%;
    }

    width: 80%;
display: flex;  
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: center;
    align-items: center;margin-bottom: 5rem;
}