@use "../base/mixins" as m;
@use "../base/variables" as v;


.header{

    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    position: absolute;
    top: 0;
    z-index: 11;
    padding: 2rem;




}

    /* logo */
    .logo{

        width: 95%;
    
        @include m.tablet {
            
            width: 40%;
        } 
    }


/* Buscador  */


.search{
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;


    @include m.tablet {

        width: 33.3%;
    } 


    input{


        width: 100%;
        text-align: center;
        font-size: 1.3rem;
        padding: 0.5rem;
        border: white;
        border-radius: 0.5rem;
        background-color: rgba(255, 255, 255, 0.5);


        &:focus{

            outline-color: white;
        }
    }
    button{

        background-color: transparent;
        border: none;
        transition: 300ms all;

        &:hover{
            transform: scale(1.5);
        }


        img{
            filter: invert(100%);
            width: 2rem;
           

           
        }
    }
}




/* navegacion */
.nav{
    display: none;
    width: 100%;

    

    @include m.tablet {

        display: flex;
        justify-content: center;
       
        width: 33.3%;
        
    } 
    ul{
        display: flex;
        justify-content: center;
       
        align-items: center;
        gap: 2rem;


        li{
            list-style: none;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

           
            
            



            a{

                font-size: 2rem;
                font-family: v.$fuente2;
                color: white;
            }
            img{
                width: 2rem;
                filter: invert(100%);
            }
        }
    }
}

/* enlaces navegacion */

.item {
  padding: 0.2rem;
  color: #fff;
  position: relative;
}

.item:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s;
}

.item:hover:before {
  width: 100%;
}

/* item blue */
.item-blue {
  padding: 0.2rem;
  color: v.$color2;
  position: relative;
}

.item-blue:before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background-color: v.$color2;
  transition: all 0.3s;
}

.item-blue:hover:before {
  width: 100%;
}

.--ligth {
  background: rgb(25, 64, 177);
  background: linear-gradient(
    207deg,
    rgba(25, 64, 177, 1) 39%,
    rgba(255, 255, 255, 0.8830882694874825) 75%
  );
  position: relative;
}

.--min {
  width: 15rem;
}
