@use'../base/variables' as v;
@use'../base/mixins' as m;



.--gridtwo{
    display: flex;
    justify-content: center;
    margin: 5rem auto 5rem auto;
   
    
    
}


.item-card{
    width: 90%;
   
    display: flex;
    flex-direction: column;
    position: relative;
    margin-right: -30rem;
    align-items: center;
    gap: 4rem;



    .img_item{

        width: 60rem;
        height: auto;
        
        -webkit-box-shadow: 10px 10px 5px 0px rgba(212,210,212,1);
        -moz-box-shadow: 10px 10px 5px 0px rgba(212,210,212,1);
        box-shadow: 10px 10px 5px 0px rgba(212,210,212,1);
        
    }
}




.info-item{

    padding-left: 4rem;
  color: black;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    padding: 1.3rem;
    margin-top: -2rem ;


    p{
        font-size: 1.4rem;
    }
}



.action-item{

    width: 65%;
    display: flex;
    flex-direction: column;
   
    align-items: center;

    gap: 4rem;
}


.galery-thumb{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;

    img{
        width: 8rem;

        &:hover{

            filter: brightness(80%);
            cursor: pointer;
        }
    }
}


.servicesIcon{

    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    


    .s-detail{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img{

            width: 2rem;
        }
    }
}



.amount{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;


    label{
        font-size: 1.6rem;
    }

    input[type="number"]{
        width: 6rem;
        text-align: center;
        height: 3rem;
        font-size: 2rem;

        &:focus{
            outline-color: v.$color2;
        }
    }
}


.back{
    font-size: 1.8rem;
    text-decoration: underline;
    color: v.$color2;
    margin-left: 2rem;
}