@use'../base/variables' as v;
@use'../base/mixins' as m;


.btn-container{

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
    &::after{
        content: '';
        width: 50%;
        height: 1px ;
        background-color: gray;
        margin: 0 auto
        
        
    }

    
   


    .btn-viewMore{
        
      
      
        @include m.boton (white,v.$color2,black,white);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: -2rem;
        margin-bottom: 3rem;

       

        width: 55%;
        border-radius: 2rem;
        font-size: 1.4rem;
        box-shadow: -2px -2px 2px gray;
        transition: all 300ms;

      
        @include m.tablet {

            width: 15%;
            
        } 
img{
    width: 1rem;
    display: none;
    animation-name:movesX ;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
        

       &:hover  {
        color: black;
       transform: translate(20px);
       gap: 2rem;
       }

       &:hover img{

        display: block;
      
       }
    }

   
}


