@use "../base/variables" as v;
@use "../base/mixins" as m;

.nosotros_info {
  margin: 0 auto;
  width: 80%;
 
  @include m.grid (1,1);
  gap: 2rem;
  justify-content: center;
  align-items: center;
  
  @include m.tablet {
    @include m.grid (2,1);
    margin-left: 10rem;
   
  } 

  .img_info {
    margin-top: -10rem;
    width: 100%;
   

   

    z-index: 10;
    position: relative;
    display: none;
    @include m.tablet {

      display: flex;
      
    } 
    img {
      height: 100%;
    }
  }

  .text_nosotros {
    padding-top: 1.5rem;
    display: flex;
    flex-direction: column;
    text-align: center;

    p {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
  }
}

.--minGalery {
  width: 100%; 
 
  margin-top: 3rem;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  

 
  gap: 3rem;
  
 @include m.tablet {
  padding-right: 3rem;
 } 


  img {
    width: 95%;
    z-index: 11;
  
    @include m.tablet {
      margin-top: 4rem;
      margin-bottom: 4rem;
      width: 25%;
      
    } 
   
  }
}


.metodosPago{
width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    img{
        margin-top: 4rem;
        margin-bottom: 4rem;
        width: 4rem;
    }
}